*.a
*.la
*.lo
*.msi
*.o
*~
.Tpo
.deps
.dirstamp
.libs
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
_config.hpp
aclocal.m4
autom4te.cache
build
compile
config.ac
config.guess
config.log
config.status
config.sub
configure
depcomp
depot
examples/wrapper
install-sh
libtool
libtool.m4
ltmain.sh
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
m4/test-driver
megafile
missing
stamp-h1
tests/unique_resource
tests/unique_resource.log
tests/unique_resource.trs
tests/test-suite.log
